.admin_nav {
    background-color: rgb(0, 69, 104);

}
.admin_wrapper {
    
    height:100%;
    display: flex;
    max-width: 100%;
    border-radius: 5px;
}
body {
    display: block;
    height:100%;
    width: 100%;
}

.side_bar{
    flex: 1.5;
    background-color: rgb(0, 69, 104);
    height:100%;

}
.admin_content{
    flex: 8;
    background-color: rgb(242, 250, 255);
    padding: 40px 100px 100px;
    overflow-y:scroll;
    height: 100%;
}
#editor{
    height: 500%;
}
.side_bar_ul{
    list-style:none;
    color: white;
    margin-top: 50px;
}


a, .side_bar_ul{
    color: white;
    text-decoration: none;
}

.admin_wrapper .side_bar ul li a{
    padding:18px;
    display: block;
    border-bottom: 1px solid ;
    height:100%;
}
.admin_wrapper .side_bar ul li a:hover{
    background-color:white;
    color: rgb(0, 69, 104);
    border: solid 5px rgb(0, 69, 104) ;
}

html, body {
    height:100%;
}


a:link, a:visited{
    text-decoration:none;
}
.page_title {
    text-align: center;
}

table{
    width:100%;
    border-collapse:collapse;
    font-size:20px;
}
th, td{
    padding:15px;
    text-align:left;
    border:collapse;
    border-bottom:1px solid rgb(0, 69, 104);

}

.add a{
    color: green;
}
.del a{
    color: red;
}
.edit a{
    color: blue;
}

#input_title{
width:20%;
}

#hello{
    margin-top:100px;
    margin-left: 40%;
}
.btn-create{
    background-color:rgb(0, 69, 104);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
}
.btn-create:hover{
    background-color: white;
    color:rgb(0, 69, 104) ;
    border: solid 2px rgb(0, 69, 104);
}